<template>
  <div>
  <b-nav class="mt-4">
      <h3 class="study">Study results:</h3>
      <b-nav-item to="/subjectstudent">Subject</b-nav-item>
      <b-nav-item to="/CheckCourse">Check course modules</b-nav-item>
      <b-nav-item to="/">ผลการศึกษา</b-nav-item>
    </b-nav>
    <b-nav-form class="navform">
    <h3 class="head">แสดงข้อมูล:
      <b-form-select class="select"
        size="sm"
        v-model="selected"
        :options="options"
        placeholder="Select"
      ></b-form-select>
      <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
    </h3></b-nav-form>
    <b-table striped hover :items="userList" :fields="fields" class="mt-2" outlined>
      <template #table-busy>
        <div class="text-center text-danger my-2"></div>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selected: null,
      options: [
        { value: null, text: 'Please select ' },
        { value: 'แกน', text: 'หมวดวิชาแกน' },
        { value: 'เอก', text: 'หมวดวิชาเอก' }
      ],
      userList: [],
      fields: ['รหัสวิชา', 'จำนวนหน่วยกิต', 'เกรด']
    }
  }
}
</script>

<style>
.col-sm-10{
  left: 970px;
}
.head{
  font-weight: 600;
  font-size: 15px;
}
.navform{
  padding: 20px;
}
.select{
  width: 100%;
}
.mt-2{
  margin: 75px;
  text-align: center;
}
.my-2{
  margin: 5px;
}
</style>
