<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand href="#">INFORMATICS</b-navbar-brand>
      <!-- <b-navbar-toggle target="nav-collapse"></b-navbar-toggle> -->

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#"></b-nav-item>
          <b-button
            id="show-btn"
            @click="showModal1"
            size="sm"
            type="submit"
            variant="outline-danger"
            >Sign In</b-button
          ><b-modal ref="my-modal1" hide-footer title="Sign In">
            <div class="d-block text-center">
            </div>
            <b-button
              class="mt-3"
              variant="outline-danger"
              block
              @click="hideModal1" to="/signinstudent"
              >Student</b-button
            >
            <b-button
              class="mt-3"
              variant="outline-warning"
              block
              @click="toggleModal1" to="/signinstudent"
              >Teacher</b-button
            >
          </b-modal>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal () {
      this.$refs['my-modal'].hide()
    },
    toggleModal () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal'].toggle('#toggle-btn')
    },
    showModal1 () {
      this.$refs['my-modal1'].show()
    },
    hideModal1 () {
      this.$refs['my-modal1'].hide()
    },
    toggleModal1 () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal1'].toggle('#toggle-btn')
    }
  }
}
</script>
