<template>
  <div>
     <b-nav class="mt-3">
       <br>
        <h3>โครงสร้างหลักสูตร: </h3>
        <b-nav-item to="/formInput2">Home</b-nav-item>
        <b-nav-item>หมวดวิชา</b-nav-item>
        <b-nav-item>โมดูลวิชา</b-nav-item>
        <b-nav-item>วิชา</b-nav-item>
    </b-nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: ''
    }
  }
}
</script>
<style>
.h3 {
  padding: 1%;
}
</style>
