<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><b>Sign In</b></h5>
            <form class="form-signin">
              <div class="form-label-group">
                <!--b-form-input  class="form-control" v-model="email" placeholder="Email address" required autofocus></b-form-input-->
                <input v-model="email" type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
                <label for="email">Email address</label>
                <p id="demo2" class="active text-danger"></p>
              </div>
              <div class="form-label-group">
                <input v-model="password" type="password" id="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
                <p id="demo3" class="active text-danger"></p>
              </div>
              <div>
                <b-button
                  class="btn btn-lg btn-dark btn-block text-uppercase"
                  @click="addNewUser()"
                  >Login</b-button
                >
                &nbsp;
                <b-button
                  class="btn btn-lg btn-light btn-block text-uppercase"
                  @click="resetForm()"
                  >Cancel</b-button
                >
              </div>
              <!--button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
    }
  }
}
</script>

<style>
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: linear-gradient(to right, #ffffff, #ffffff);
}
.btn-dark{
  border: 0;
  background-image: linear-gradient(to right, #fc5078,#FF4B2B);
}
.btn-dark:hover{
  border: 0;
  background-image: linear-gradient(to right, #fd2155,#ff2600);
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  color: #FF416C;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #bbb8b8;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: rgb(255, 0, 0);
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
</style>
