<template>
  <div>
    <!-- <b-nav-form class="navform"> -->
    <b-button variant="outline-success" class="float-right" @click="addNewUser"
      >เพิ่มข้อมูลการอบรม</b-button>
    <b-table striped hover :items="userList" :fields="fields" class="mt-2" outlined>
      <template #table-busy>
        <div class="text-center text-danger my-2"></div>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มใบอบรม',
      userList: [],
      fields: ['No', 'หัวข้อการอบรม', 'จำนวนชั่วโมงที่เข้าร่วม', 'สถานะ']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New user ')
      this.$bvModal.show('modal-form-user')
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    }
  }
}
</script>

<style>
.col-sm-10{
  left: 970px;
}
.head{
  font-weight: 600;
  font-size: 15px;
}
.navform{
  padding: 20px;
}
.select{
  width: 100%;
}
.mt-2{
  margin: 75px;
  text-align: center;
}
.my-2{
  margin: 5px;
}
.float-right{
  margin: 10px;
  right: 900px;
}
</style>
